body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }

   .margin-nav{

      
    .self-typed{
      color: #007bff;
      text-align: center;
      font-weight: bold;
      font-variant: initial;
    }

    

    
  }
