
     .card{
        
        height: 50%;
        .card-img-top{
           
            height: 250px;

        }
      .card-body{

        .card-title {
            .title-button{
                background-color:rgba(0,0,0,.03);
                border: transparent;

            
            }
            .recipe-name{
                font-size: 20px;
                color: #007bff;
                font-weight: bold;
                margin-bottom: 0px;}
            
          }
        
        .card-subtittle {
            font-size: 14px;
            // font-style: italic;
           // color: aqua;
            color: #007bff;
            //font-weight: bold;
            margin-bottom: 10px;
          }

      }
    }